{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>she codes news </title>
        <meta name="description" content="">
        <meta name="author" content="Hayley van Waas">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <img id="banner" src="{% static 'she_codes_news/images/h.gif' %}">
                </a>
            </div>
        </header>
            <div>
            {% include './nav.html' %}
            </div>
            {% block content%}
            {% endblock %}
    </body>
    <footer>
        <br>
        <a href= "https://www.facebook.com/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'she_codes_news/images/facebook.png' %}"></a>
        <a href= "https://www.instagram.com/shecodesaus/?hl=en" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'she_codes_news/images/instagram.png' %}"></a>
        <a href= "https://www.linkedin.com/company/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'she_codes_news/images/linkedin.png' %}"></a>
        <a href= "https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'she_codes_news/images/twitter.png' %}"></a>
        <a href= "https://shecodes.com.au/" target="_blank" rel="noopener noreferrer"><img id="banner" src="{% static 'she_codes_news/images/f.png' %}"></a>
    </footer>
</html>

