{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>she codes news </title>
        <meta name="description" content="">
        <meta name="author" content="Hayley van Waas">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <!-- <a id="header-link" href="{% url 'news:index' %}"> -->
                    <img id="banner" src="{% static 'she_codes_news/images/b1.gif' %}">
                <!-- </a> -->
            </div>
        </header>
            <div>
            <!-- include nav here -->
            {% include './nav.html' %}
            </div>
        <!-- content blocks here -->
        {% block content%}
        {% endblock %}
    </body>
    <footer>
        <img id="banner" src="{% static 'she_codes_news/images/1.png' %}">
    </footer>
</html>

