@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-color: #f3edf3;
    padding: 15px;
}

#banner {
    object-fit: cover;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



h1 {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'DM Sans', sans-serif; 
   text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}


.topnav {
    overflow: hidden;
    background-color: #862aa3;
    position: relative;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
}
  
.topnav a:hover {
    background-color: #f59818;
    color: #f2f2f2;
}

#wns {
    float: right;
}
.logo {
    border-radius: 40%;
    border: 1px solid black;
    max-width: 10%;
    height: auto;  
    display: inline-block;
    margin-left: 70px;
    margin-right: auto;
}


