@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #e4c5e4;
}

#banner {
    margin: auto;
    height: auto;
    width: 1400px;
    /* position: centre;
    padding: 3px;
    object-fit: cover; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #801384;
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

.bg-img {
    /* The image used */
    background-image: url("../static/she_codes_news/images/b.gif");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav {
    overflow: hidden;
    background-color: #862aa3;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
  
.topnav a:hover {
    background-color: #f59818;
    color: black;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}
