@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-color: #e4c5e4;
}

#banner {
    object-fit: cover;
    display: block;
    height: auto;
    width: 1350px;
    margin: auto;
    display: block;
    float: left;
}



h1 {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'DM Sans', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}


.topnav {
    overflow: hidden;
    background-color: #862aa3;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
}
  
.topnav a:hover {
    background-color: #f59818;
    color: #f2f2f2;
}

#wns {
    float: right;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'DM Sans', sans-serif;
}
